.sliderLayoutContainer--home__slider--seccion-one {
  top     : -100px;
  position: relative;
}

.sliderLayoutContainer--home__col--slider-one {
  padding  : 0 4vw 0 4vw;
}

.sliderTrackContainer--home__slider--seccion-one {
  top     : -100px;
  position: relative;
}

.flexRow--desktop__home--seccion-two :first-child {
  margin: 0;
}

.sliderLayoutContainer--desktop__home--seccion-eight {
  width      : 87%;
  margin-left: 7vw
}
