.sliderLayoutContainer--home__slider--seccion-one {
  top     : -100px;
  position: relative;
}

.sliderLayoutContainer--home__col--slider-one {
  padding: 0 14vw;
}

.sliderTrackContainer--home__slider--seccion-one {
  top     : -100px;
  position: relative;
}

.flexRow--desktop__home--seccion-two :first-child {
  margin: 0;
}

.sliderLayoutContainer--desktop__home--seccion-eight {
  width      : 87%;
  margin-left: 7vw
}

.sliderTrackContainer--desktop__home--slider-product-summary {
  margin-top: 20px;
}

.sliderRightArrow--desktop__home--slider-product-summary {
  right: 6.8vw;
}

.sliderLeftArrow--desktop__home--slider-product-summary {
  left: 6.2vw;
}
