.wrapper--desktop__home--seccion-five {
  padding-bottom: 5.5vw;
  padding-top   : 3.5vw;
  letter-spacing: .13vw;
}

.heading--desktop__home--seccion-five {
  font-size: 2vw;
  color    : black;
}

.container--desktop__col--backpacks {
  padding-left: 9vw;
}

.link--desktop__col--backpacks,
.link--desktop__col--accesories,
.link--desktop__col--handbags,
.link--desktop__col--free-hands {
  color: black;
}

.strong--desktop__home--seccion-five {
  font-weight   : 600;
  font-size     : 1vw;
  margin-top    : 0.5vw;
  letter-spacing: .085vw;
}

.container--desktop__sectionfour--text {
  padding   : 0 14vw;
  margin-top: 12px;
}

.link--desktop__sectionfour--text {
  font-size      : 27px;
  margin-top     : 2vw;
  margin-bottom  : 8vw;
  letter-spacing : 2px;
  color          : black;
  text-decoration: none;
}
