.brandName {
  text-transform: capitalize;
  font-size     : 20px;
  color         : #000;
  font-weight   : 700;
}

.currencyContainer {
  font-weight: 600;
  font-size  : 14px;
  color      : black;
}

/* --desktop__home--vitrine--price */
  .priceContainer{
  margin-top: -42px;
}

.nameContainer {
  margin-top: -26px;
}

.listPriceContainer {
  display: none;
}

