.flexColChild--global__minicart--empty-col :global(.vtex-store-link-0-x-link--minicart__empty--button) {
  display         : flex;
  justify-content : center;
  width           : 85%;
  border          : 1px solid #353535;
  cursor          : pointer;
  margin          : 0.5rem auto 0;
  background-color: transparent;
  color           : #353535;
  text-transform  : capitalize;
}
