/* .label--minicart__empty--button {
  color: #353535;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 40px!important;
  font-size: 14.22px;
  line-height: 19.6px;
  text-decoration: none;
} */

/* .minicart__empty--button {
  display: flex;
  justify-content: center;
  width: 85%;
  border: 1px solid #353535;
  cursor: pointer;
  margin: 0.5rem auto 0;
} */
