.minicartTitle::before {
  visibility       : visible;
  content          : "";
  background-image : url("assets/img/Home/header/header__logo--minicart.png");
  background-repeat: no-repeat;
  background-size  : contain;
  vertical-align   : middle;
  width            : 26px;
  height           : 26px;
  margin           : -8px 5px 0 18px;
  display          : inline-block;
}

.minicartTitle::after {
  content    : "BOLSA DE COMPRAS";
  visibility : visible;
  font-size  : 18px;
  padding    : 10px 20px;
  position   : absolute;
  left       : 50px;
  top        : -11px;
  color      : #575651;
  font-weight: 600;
}

.minicartTitle {
  visibility : hidden;
  transform  : translateY(-40px);
  margin-left: -3vw;
  font-size  : 17px;
}

.closeIconContainer {
  display        : flex;
  justify-content: flex-end;
  Border-bottom  : 1px solid #ccc;;
  stroke-width: 2;
}

.closeIcon {
  border-radius: 50%;
  color        : gray;
  font-size    : 400px;
  border       : gray solid 3px;
  background   : transparent;
  width        : 18px;
  height       : 18px;
}

.minicartCheckoutButton--minicart-checkout-button :global(.vtex-button) {
  background-color: black;
  color           : white;
  border          : none;
  font-size       : 13px;
  border-radius   : initial;
  font-family     : "Poppins";
}

.minicartCheckoutButton--minicart-checkout-button :global(.vtex-button__label) {
  visibility : hidden;
  font-weight: 700;

}

.minicartCheckoutButton--minicart-checkout-button :global(.vtex-button__label)::before {
  visibility       : visible;
  content          : "";
  background-image : url("assets/img/Home/header/header__minicar--footer-checkout.png");
  background-repeat: no-repeat;
  background-size  : contain;
  vertical-align   : middle;
  width            : 26px;
  height           : 26px;
  margin-left      : -10px;
}

.minicartCheckoutButton--minicart-checkout-button :global(.vtex-button__label)::after {
  visibility : visible;
  content    : "IR A PAGAR";
  position   : relative;
  font-size  : 18px;
  margin-left: -100px;

}
