.minicartIconContainer--desktop__header--minicart {
  margin-top: 4px;
}

.minicartQuantityBadge--desktop__header--minicart {
  width           : 12px;
  height          : 12px;
  background-color: #000;
  z-index         : 9;
  font-size       : 10px;
  font-weight     : 600;
}

.drawer--desktop__header--minicart {
  width    : 85% ;
  max-width: 328px;
  min-width: 280px;
  overflow: scroll;
  /* transform: translate3d(0%, 0px, 0px); */
}

/* .overlay--desktop__header--minicart--visible,
.overlay--desktop__header--minicart {
  opacity: 0.3 !important;
} */

.minicartTitle--desktop__minicart--base-content {
  margin-left: -30px;
}
