.container:hover {
  background-color: transparent;
}

.profileIcon--desktop__header--login {
  margin-left  : 2px;
  margin-bottom: 6px;
}

.profileIcon--desktop__header--login:hover {
  background-color: transparent;
}

.profileIcon--desktop__header--login {
  width: 1.2vw;
}
/* .profileIcon--desktop__header--login  :first-child {
  width: 1.2vw;
} */
