.container:hover {
  background-color: transparent;
}

.profileIcon--desktop__header--login {
  margin-left  : 2px;
  margin-bottom: 6px;
}

.profileIcon--desktop__header--login:hover {
  background-color: transparent;
}
