.headerRowContainer {
  height: 100px;
}

.headerRowContentContainer {
  margin-left : 16px;
  position    : relative;
  max-width   : -webkit-fill-available;
  margin-right: 22px;
  margin-top: -10px;
}

.headerRow--desktop__header--row {
  background-color: transparent;
  color: white;
}
.headerRow--desktop__header--row:hover {
  /* background-color: #fff; */
  color: black;
}
.headerRowBackground--desktop__header--row {
  background-color: transparent;
}
.headerRowBackground--desktop__header--row:hover {
  background-color: white;
}
