.styledLinkContent--header__menu--container-departmentOne {
  font-size  : 0.9vw;
  font-family: 'Poppins-Regular';
  font-weight: 500;
  /* color      : white; */
  color      : #000;
  margin-left: 1.5vw;
}

.styledLinkContent--header__menu--container-departmentOne:hover {
  Border-bottom: 2px #5677af solid;
}

.styledLinkContent--header__menu--container-departmentTwo {
  font-size  : 0.9vw;
  font-family: 'Poppins-Regular';
  font-weight: 500;
  /* color      : white */
  color      : #000
}

.styledLinkContent--header__menu--container-departmentTwo:hover {
  Border-bottom: 2px #5677af solid;
}

.styledLinkContent--menu__sales {
  font-size  : 0.9vw;
  font-family: 'Poppins-Bold';
  color      : black;
  font-weight: 900;
}

.styledLinkContent--menu__sales:hover {
  Border-bottom: 2px #5677af solid;
}

.styledLinkContainer--header__menu--container-departmentOne {
  margin-left: -3px;
}

.submenuWrapper {
  width: 120px;
}

.menuContainer--desktop__departments--menu {
  gap: 30px
}

.submenuWrapper--menu__container--categoryOne {
  background: #fff;
  width     : 620px;
  height    : 100vh;
  transform : translateX(-250px);
}

.submenu--menu__container--categoryOne {
  margin-left    : 55px;
  padding        : 50px 0 0 0;
  justify-content: start;
}

.submenuWrapper--menu__container--categoryTwo {
  background: #fff;
  width     : 610px;
  height    : 100vh;
  transform : translateX(-390px);
}

.submenu--menu__container--categoryTwo {
  margin-left    : 70px;
  padding        : 50px 0 0 0;
  justify-content: start;
}



.styledLinkContent--item-menu {
  font-family: 'Poppins-Regular'
}

.styledLinkContent--backpacks__subcategoryOne,
.styledLinkContent--handbags__subcategoryOne,
.styledLinkContent--free__hands--subcategoryOne,
.styledLinkContent--accessories__subcategoryOne {
  font-size  : larger;
  font-family: 'Poppins-Regular';
  color      : black;
}

.styledLinkContent--accessories__subcategoryTwo,
.styledLinkContent--shoes__subcategoryOne {
  font-size  : larger;
  padding    : 0 0 25px 0;
  font-family: 'Poppins-Regular';
  color      : black;
}

.styledLinkContent--the__usual--subcategoryOne,
.styledLinkContent--the__usual--subcategoryTwo,
.styledLinkContent--credit__subcategoryTwo,
.styledLinkContent--credit__subcategoryOne {
  font-size  : larger;
  padding    : 0 0 20px 0;
  font-family: 'Poppins-Regular';
  color      : black;
}

.styledLinkContent--see__all--women-subcategoryOne,
.styledLinkContent--backpacks__subcategoryTwo,
.styledLinkContent--free__hands--subcategoryTwo {
  font-size  : larger;
  font-family: 'Poppins-Regular';
  color      : black;
}

.styledLinkContent--see__all--men-subcategoryTwo {
  font-size  : larger;
  font-family: 'Poppins-Regular';
  color      : black;
}

.styledLinkContent--women__sales--subcategoryOne,
.styledLinkContent--men__sales--subcategoryTwo {
  font-weight: 600;
  font-size  : larger;
  color      : #5677af;
  font-family: 'Poppins-Regular';

}

.submenuWrapper--sub__subcategoryOne--handbags {
  translate : 100px;
  margin-top: -1.4vw;
  border    : none;
}

.submenuWrapper--sub__subcategoryOne--accessories {
  translate : 70px;
  margin-top: -1.4vw;
  border    : none;
}

.submenuWrapper--sub__subcategoryTwo--credit,
.submenuWrapper--sub__subcategoryTwo--accessories,
.submenuWrapper--sub__subcategoryOne--credit {
  translate : 100px;
  margin-top: -1.9vw;
  border    : none;
}

.styledLinkContent--desktop__menu--tiktok {
  margin-right: 10px;
  font-size   : 0.9vw;
  padding     : 0 0 20px 0;
  font-family : 'Poppins-Regular';
  color       : black;
}

.styledLinkContent--backpacks__subcategoryOne:hover,
.styledLinkContent--handbags__subcategoryOne:hover,
.styledLinkContent--free__hands--subcategoryOne:hover,
.styledLinkContent--accessories__subcategoryOne:hover,
.styledLinkContent--accessories__subcategoryTwo:hover,
.styledLinkContent--shoes__subcategoryOne:hover,
.styledLinkContent--the__usual--subcategoryOne:hover,
.styledLinkContent--the__usual--subcategoryTwo:hover,
.styledLinkContent--credit__subcategoryTwo:hover,
.styledLinkContent--credit__subcategoryOne:hover,
.styledLinkContent--see__all--women-subcategoryOne:hover,
.styledLinkContent--backpacks__subcategoryTwo:hover,
.styledLinkContent--free__hands--subcategoryTwo:hover,
.styledLinkContent--see__all--men-subcategoryTwo:hover,
.styledLinkContent--women__sales--subcategoryOne:hover,
.styledLinkContent--men__sales--subcategoryTwo:hover {
  font-family: 'Poppins-Bold';
}

.styledLinkContent--desktop__menu--tiktok {
  margin-top: 22px;
}

.flexRowContent--desktop__header--row-icons {
  align-items: center;
  gap        : 4px;
}

.menuItem--credit__subcategoryTwo,
.menuItem--accessories__subcategoryTwo,
.menuItem--accessories__subcategoryOne,
.menuItem--handbags__subcategoryOne,
.menuItem--credit__subcategoryOne {
  display       : flex;
  max-width     : 11vw;
  flex-direction: row;
  align-items   : center;
}

.menuItem--credit__subcategoryTwo:hover::after,
.menuItem--credit__subcategoryOne:hover::after {
  height          : 1px;
  width           : 100%;
  content         : "-";
  margin-left     : 10px;
  margin-bottom   : 20px;
  color           : transparent;
  background-color: #000;
}

.menuItem--handbags__subcategoryOne:hover::after {
  height          : 1px;
  width           : 100%;
  content         : "-";
  margin-left     : 10px;
  color           : transparent;
  background-color: #000;
}

.menuItem--accessories__subcategoryOne:hover::after {
  height          : 1px;
  width           : 100%;
  content         : "-";
  color           : transparent;
  background-color: #000;
}

.menuItem--accessories__subcategoryTwo:hover::after {
  margin-bottom   : 4vh;
  height          : 1px;
  width           : 100%;
  content         : "-";
  margin-left     : 10px;
  color           : transparent;
  background-color: #000;
}

.submenuWrapper--sub__subcategoryTwo--accessories {
  translate : 80px;
  margin-top: -2vw;
  border    : none;
}

