.flexRowContent--desktop__header--row-icons {
  gap        : 0.5px;
  display    : flex;
  align-items: center;
}

.flexColChild--desktop__header--col-search {
  cursor: pointer;
}

.flexColChild--desktop__header--col-search {
  margin-top: 12px;
}

.flexColChild--desktop__header--col-login:hover {
  background-color: white;
}
