.container--desktop__modal--layout-search {
  background : transparent;
  margin-top : -13.1vw;
  margin-left: 55vw;
}

.backdropContainer--desktop__modal--layout-search {
  position: relative;
}

.desktop__modal--layout-search {
  margin: 0rem;
}
