
.paragraph--header__slider--buy-credit,
.paragraph--header__slider--free-shipping,
.paragraph--header__slider--sales {
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.strong--desktop__col--accesories,
.strong--desktop__col--backpacks,
.strong--desktop__col--handbags,
.strong--desktop__col--free-hands {
  color: black;
  font-weight: 700;
}
