.logoImage--desktop__header--logo {
  height    : 85px;
  width     : 10.5vw;
  margin-top: 10px;
}

.searchBarContainer {
  background: transparent;
  border    : none;
  width     : 22vw;
}

.searchBarInnerContainer--desktop__header--searchbar {
  border-bottom: 1px solid;
  margin-bottom: 10px;
  position     : static;
}
