.trigger--desktop__disclosure--icon-search {
  background: transparent;
  border    : none;
}

.trigger--desktop__disclosure--icon-search :first-child {
  width      : 1.2vw;
  margin-left: 23px;
  margin-top : 4px;
}

.trigger--desktop__disclosure--icon-search :nth-child(2n) {
  position   : fixed;
  top        : 24px;
  margin-left: 0.3vw;
  height     : 1.2vw;
  width      : 1.2vw;
  color      : var(--primary-color);
}

.content--desktop__disclosure--searchbar :global(.vtex-store-components-3-x-searchBarContainer) {
  margin-top: -26px;
}

.content--desktop__disclosure--searchbar {
  margin-right: -15px;
}
