.styledLink {
  color: var(--primary-color-two);
}

.accordionIcon {
  color: var(--primary-color-two);
}

.menuContainerNav--mobile__us {
  padding-bottom: 3vw;
  border-bottom : 2px solid var(--primary-color-two);
}

.menuContainerNav--mobile__us {
  display: none;
}

@media screen and (max-width: 860px) {
  .menuContainerNav--mobile__us {
    display: initial;
  }
}
