.flexCol--desktop__footer--container-col2 {
  border-left    : white solid 3px;
  display        : flex;
  justify-content: center;
}

.flexRow--desktop__footer--container {
  padding-top   : 9.5vw;
  padding-bottom: 5vw;
}

.flexCol--desktop__footer--container-col2 {
  height: 17vw;
}

.flexRow--desktop__footer--container :global(.vtex-store-components-3-x-container) {
  padding  : 0;
  margin   : 0;
  max-width: none;
}

.flexColChild--desktop__footer--container-col2 {
  display        : flex;
  justify-content: space-around;
}

.flexColChild--minicart__footer--col {
  margin-bottom: 4px;
}

.flexColChild--minicart__footer--col :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  display: none;
}

.flexColChild--desktop__footer--container-col1 {
  height: 4vw !important;
}

.flexRowContent--desktop__industry--commerce--text :global(.vtex-rich-text-0-x-paragraph) {
  color    : white !important;
  font-size: 9px !important;
}

.flexRow--desktop__industry--commerce--text {
  width: 80%;
}

.flexRowContent--desktop__industry--commerce--text :global(.vtex-rich-text-0-x-link) {
  text-decoration: none;
  color          : var(--primary-color-two);
}

.flexCol--desktop__row--methods-payments {
  margin-right: 3vw;
}

.flexCol--desktop__row--stores {
  margin-left: 5vw;
}

.flexRow--desktop__payments--netwoks-stores {
  padding: 15px 30px;
}

.flexRowContent--desktop__departaments--footer {
  margin-bottom: 1rem;
}

.flexCol--desktop__footer--container-col2 :first-child(3n) {
  height: 50px !important;
}
