.socialNetworksContainer--desktop__networks {
  display        : flex;
  justify-content: center;
}

.footerLayout {
  background-color: black;
  /* color: var(--text-color); */
}

/* :root{
  --text-color: white;      // de orden local
} */

