.flexCol--desktop__footer--container-col2 {
  border-left    : black solid 3px;
  display        : flex;
  justify-content: center;
}

.flexRow--desktop__footer--container {
  padding-top   : 9.5vw;
  padding-bottom: 5vw;
}

.flexCol--desktop__footer--container-col2 {
  height: 17vw;
}
