.emailInputContainer--input__newslater :global(.vtex-input-prefix__group) {
  width         : 45%;
  background    : transparent;
  margin        : auto;
  border        : none;

  letter-spacing: .5px;
}

.emailInputContainer--input__newslater :global(.vtex-styleguide-9-x-input) {
  background-color: transparent;
  border-bottom   : 1px solid var(--primary-color-two);
  text-align      : center;
  margin-bottom   : 17px;
  padding         : 19px;
  letter-spacing  : .5px;
}

.confirmationCheckboxContainer--checkbox {
  width : 55%;
  margin: 15px auto 30px;
}

.formSubmitContainer--btn__newscriber--submit {
  display        : flex !important;
  justify-content: center !important;
}

.confirmationCheckboxContainer--checkbox :global(.vtex-checkbox__label) {
  text-align: center;
  color     : white;
  font-size : .6vw;
}

.formSubmitContainer--btn__newscriber--submit :global(.vtex-button) {
  background-color: transparent;
  border: 0.5px solid white;
}

.confirmationCheckboxContainer--checkbox :global(.vtex-checkbox__inner-container) {
  background-color: transparent;
  border-color    : white;
}

.confirmationCheckboxContainer--checkbox :global(.vtex-checkbox__container) {
  left: 5px
}

.emailInputContainer--input__newslater :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: white;
}

.formSubmitContainer--btn__newscriber--submit :global(.vtex-button__label) {
  visibility    : hidden;
  text-transform: capitalize;
  border-radius : 5px;
  font-weight   : 500;
}

.formSubmitContainer--btn__newscriber--submit :global(.vtex-button__label)::after {
  visibility : visible;
  content    : "Suscribirse";
  font-family: "Poppins";
  margin-left: -68px;
  font-size: 1vw;
}
