.socialNetworksContainer--desktop__networks {
  display        : flex;
  justify-content: center;
}

.footerLayout {
  background-color: var(--primary-color);
}

.socialNetworksContainer {
  justify-content: space-around;
}

.socialNetworksContainer--desktop__col--networks :global(.vtex-store-footer-2-x-socialNetworkLink--desktop__col--networks--facebook) {
    visibility : hidden;
  }
.socialNetworksContainer--desktop__col--networks :global(.vtex-store-footer-2-x-socialNetworkLink--desktop__col--networks--facebook)::before {
    visibility: visible;
    content: "";
    background-image: url("assets/img/Home/footer/footer__socialNetwork--fecebook.png");
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align   : middle;
    /* width            : 26px;
    height           : 26px; */
    margin-left      : -10px;
  }

