.trigger--desktop__disclosure--icon-search {
  background: transparent;
  border    : none;
}

.trigger--desktop__disclosure--icon-search :first-child {
  width      : 1.2vw;
  margin-left: 23px;
  margin-top : 4px;
}
