
.autoCompleteOuterContainer--mobile__header--searchbar :global(.vtex-styleguide-9-x-input) {
  background-color: transparent;
  border-bottom   : black solid 1px;
}

.autoCompleteOuterContainer--mobile__header--searchbar :global(.vtex-input-prefix__group) {
  border: none;
}

.autoCompleteOuterContainer--mobile__header--searchbar :global(.vtex__icon-clear) {
  display: none;
  border : none;
}

.autoCompleteOuterContainer--mobile__header--searchbar :global(.vtex-input__suffix):first-child {
  border: none;
}

.autoCompleteOuterContainer--mobile__header--searchbar :global(.vtex__icon-search) {
  color: black;
}

.searchBarInnerContainer--mobile__header--searchbar {
  width : 95vw;
  margin: 200px 0 0 -72vw;
  border: none;
}

.searchBarInnerContainer--mobile__header--searchbar :global(.vtex-input__suffix){
  background-color: transparent;
  /* margin-right: 9vw; */
}
