.container {
  margin: auto;
}

.heading--text__principal--top-principal {
  padding-top: 15px;
  margin     : 0;
  font-size  : 20px;
  font-weight: 500;
  font-family: "Poppins-Medium";
  text-align: center;
}

.heading--text__principal--top {
  padding-top: 15px;
  margin     : 0;
  font-size  : 16px;
  font-weight: 500;
  font-family: "Poppins-Medium";
  text-align: center;
}
