.minicartQuantityBadgeDefault {
  width           : 12px;
  height          : 12px;
  background-color: #000;
  z-index         : 9;
  font-size       : 10px;
  font-weight     : 600;
}

.minicartQuantityBadge--mobile__header--minicart {
  top : -9px;
  left: -0.5rem;
}
