.minicartQuantityBadge--mobile__header--minicart {
  width           : 12px;
  height          : 12px;
  background-color: #000;
  z-index         : 9;
  font-size       : 10px;
  font-weight     : 600;
  top : -12px;
  left: -0.8rem;
}

.openIconContainer--mobile__header--minicart {
  padding: 0;
}
