.flexRowContent {
  cursor: pointer;
}

.flexRowContent--mobile__icons--content {
  display    : flex;
  align-items: center;
}

.flexRowContent--mobile__logo--menu-content {
  width         : 33%;
  display       : flex;
  flex-direction: row;
  align-items   : center;
  height        : 3rem;
}

.flexColChild--drawer-close-button {
  margin-left: -7vw;
}

.flexRowContent--mobile__icon--search {
  margin-left: 30px;
}

.minicartContainer--mobile__header--minicart {
  margin-left: 20px;
}

.flexColChild--mobile__col--logo {
  margin   : 2vw 0 0 0;
  font-size: 0.9vw;
  width    : 33vw;
}

.flexColChild--mobile__col--logo :first-child {
  width : 34vw;
  height: 34vw;
}

.flexRowContent--mobile__icons--content:hover :global(.vtex-button) {
  background-color: transparent;
}

.flexRow--mobile__icons--content {
  width       : 25%;
  margin-right: -10px;
}

.flexRow--mobile__logo--menu-content {
  width : 50%;
  height: 3rem;
}

.flexCol--mobile__logo--megamenu {
  margin-top: 4px;
}

