.logoImage--mobile__header--logo {
  height     : 14vw;
  color      : black;
  margin-top : 24px;
  width      : 280px;
  margin-left: -14px;
}

.logoContainer--mobile__header--logo {
  width : 410;
  height: 220;
}

.logoImage--mobile__header--logo-megamenu {
  width : 210;
  height: 80;
}

.logoImage--mobile__header--logo-megamenu {
  margin-left: -23vw;
}
