
.profileIcon--mobile__header--login {
  height: 5vw;
  width : 5vw;
  margin-bottom: 8px;
  margin-left: -2vw !important;
}

.content--loginOptions :global(.vtex-button) {
  background: black;
  color     : white;
}

.inputContainerEmail :global(.vtex-styleguide-9-x-input),
.inputContainerPassword :global( .vtex-styleguide-9-x-input) {
  color: gray;
}

.formLinkContainer :global(.vtex-login-2-x-dontHaveAccount),
.backButton :global(.vtex-button),
.forgotPasswordLink {
  color: gray;
}

.sendButton :global(.vtex-button) {
  background : black;
  border     : none;
  font-weight: 500;
}

.tooltipContainer {
  display: table;
  visibility: visible;
  background-color: transparent;
  left: 4vw;
  top: 6vw;
  position: relative;
  max-width: 250px;
}

.portalWrapper--mobile__header--login :global(.vtex-login-2-x-button) {
  color: gray;
}

.portalWrapper--mobile__header--login :global(.vtex-button__label) {
  color: gray;
}

.portalWrapper--mobile__header--login :global(.vtex-login-2-x-optionsListItem .vtex-button__label) {
  font-size: 15px;
  color: white;
}

.portalWrapper--mobile__header--login :global(.vtex-login-2-x-sendButton .vtex-button__label) {
  color: white ;
}
