.logoImage--mobile__header--logo-megamenu {
  max-width  : 400%;
  margin-left: -10vw;
  width      : 210px;
  height     : 80px;
  margin-top : 1vh;
}


.logoImage--mobile__header--logo {
  max-width: 400%;
  width    : 30vw;
  height   : 40vh;
  margin   : 26px 0 10px -80px;
  color    : black;

}

.headerRowContentContainer--mobile__header--row {
  position : relative;
  max-width: -webkit-fill-available;
  padding  : 4vw 7vw 0;
}

