.flexRowContent {
  cursor: pointer;
}

.flexRowContent--mobile__icons--content {
  display    : flex;
  align-items: center;
  /* gap        : 5px; */
}

.flexRowContent--mobile__logo--menu-content {
  display    : flex;
  align-items: center;
}

.flexColChild--drawer-close-button {
  margin-left: -7vw;
}

.flexRowContent--mobile__icon--search {
  margin-left: 30px;
}
.minicartContainer--mobile__header--minicart {
  margin-left: 20px;
}
