.drawerHeader {
  flex: auto;
}

.menuIcon {
  width     : 44px;
  height    : 34px;
  margin-top: 10px;
  color     : black;
}

.claseIcon {
  margin-left: -25vw;
  height     : 26px;
}

.opened {
  width    : 70rem;
  max-width: 100;

}

.closeIconButton {
  margin-left: -7rem;
}
