.profileIcon {
  height: 48px;
  width : 24px;

}

.container {
  height     : 48px;
  width      : 48px;
  margin-left: -10px;
}

.profileIcon--mobile__header--login {
  height: 40px;
  width : 42px;
}
