.menuIcon--mobile__header--menu {
  height: 4vw !important;
  width : 4vw !important;
}

.flexRowContent--mobile__logo--menu-content :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 30%;
}


.flexCol--mobile__col--logo{
  width: 70%;
}
.flexCol--mobile__col--menu  {
  width: 30%;
}

.menuIcon--mobile__header--menu {
  color: black;
}
