.heading--mobile__section--three {
  font-weight   : 700;
  color         : black;
  font-size     : 2.5vw;
  letter-spacing: .1vw;
}


.heading--mobile__home--seccion-five {
  font-size     : 5vw;
  padding-top   : 10vw;
  letter-spacing: .01vw;
  color         : black;
  margin-bottom : 0;
}

.paragraph--mobile__home--seccion-five {
  font-size     : 2.6vw;
  margin-top    : 1vw;
  letter-spacing: .085vw;
  padding       : 0 12vw;
  line-height   : 2.5vw;
}

.wrapper--mobile__home--seccion-five {
  padding-bottom: 10.5vw;
}

.heading--mobile__section--three {
  font-weight: 700;
}

.wrapper--mobile__section--three {
  font-size: 2.5vw;
  letter-spacing: .1vw;
}
