.flexRowContent--mobile__home--seccion-two {
  height    : 100%;
  margin-top: -225px;
}

.flexRow--mobile__home--seccion-three {
  background-image   : url("assets/img/mobile/mobile__seccionThree.jpg");
  height             : 280vw;
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
}

.flexRowContent--mobile__home--seccion-three {
  flex-direction: column;
  align-items   : center;
  display       : flex;
}

.flexRowContent--home__row--seccion-three-content {
  flex-direction: column;
}

.flexRowContent--mobile__home--seccion-three :nth-child(3n) {
  /* width: 75% !important; */
  padding: 0 4vw 0 4vw;
}

.sliderLayoutContainer--seccion__three--notArrows {
  padding-bottom: 9px;
  display       : flex;
  position      : relative;
  left          : 0;
  right         : 0;
}

.sliderLayoutContainer--seccion__three--arrows {
  max-width: 100%;
}
.flexRowContent--home__row--seccion-three-content {
  display: flex;
  align-items: center;
}
